body {width:96%; font-family:Arial; background-color: #EDF8F8; color:#333;}
img {float: left; max-width: 100px; max-height: 100px; margin: 0 5px 2px 0; border: solid 1px #999; padding: 2px;}
h1 {color:#257CBC; font-weight: bold; font-size: 1.8em; text-align: center;}
a {color:#257CBC;}
p {text-align: left; font-size: 20px;}
